@import "assets/layout/styles/layout.scss";
/*
.p-dropdown{
  width: 100%;
  border-color: var(--surface-border);
}

.p-dropdown .p-dropdown-label {
  margin: -4px;
}*/

.full-width-screen{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-full-width{
  display: flex;
  width: 100%;
}

// body {
//   .p-input-filled .p-inputtext,
//   .p-input-filled .p-dropdown,
//   .p-input-filled .p-password,
//   .p-input-filled .p-calendar {
//     background-color: var(--surface-ground);
//     border-color: var(--primary-color);
//     border-radius: 4px;
//     color: var(--text-color);
//     box-shadow: none;
//   }
// }

.p-button.p-button-default, .p-buttonset.p-button-default > .p-button, .p-splitbutton.p-button-default > .p-button {
  color: #ffffff;
  background: #757575;
  border: 0 none;
}
.p-button.p-button-default:enabled:hover, .p-buttonset.p-button-default > .p-button:enabled:hover, .p-splitbutton.p-button-default > .p-button:enabled:hover {
  background: rgba(69, 66, 67, 0.92);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-default:enabled:focus, .p-buttonset.p-button-default > .p-button:enabled:focus, .p-splitbutton.p-button-default > .p-button:enabled:focus {
  box-shadow: none;
}
.p-button.p-button-default:enabled:active, .p-buttonset.p-button-default > .p-button:enabled:active, .p-splitbutton.p-button-default > .p-button:enabled:active {
  background: rgba(69, 66, 67, 0.68);
  color: #ffffff;
  border-color: transparent;
}
.p-button.p-button-default.p-button-outlined, .p-buttonset.p-button-default > .p-button.p-button-outlined, .p-splitbutton.p-button-default > .p-button.p-button-outlined {
  background-color: transparent;
  color: #757575;
  border: 0 none;
}
.p-button.p-button-default.p-button-outlined:enabled:hover, .p-buttonset.p-button-default > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-default > .p-button.p-button-outlined:enabled:hover {
  background: rgba(69, 66, 67, 0.04);
  color: #757575;
  border: 0 none;
}
.p-button.p-button-default.p-button-outlined:enabled:active, .p-buttonset.p-button-default > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-default > .p-button.p-button-outlined:enabled:active {
  background: rgba(69, 66, 67, 0.16);
  color: #757575;
  border: 0 none;
}
.p-button.p-button-default.p-button-text, .p-buttonset.p-button-default > .p-button.p-button-text, .p-splitbutton.p-button-default > .p-button.p-button-text {
  background-color: transparent;
  color: #757575;
  border-color: transparent;
}
.p-button.p-button-default.p-button-text:enabled:hover, .p-buttonset.p-button-default > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-default > .p-button.p-button-text:enabled:hover {
  background: rgba(69, 66, 67, 0.04);
  border-color: transparent;
  color: #757575;
}
.p-button.p-button-default.p-button-text:enabled:active, .p-buttonset.p-button-default > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-default > .p-button.p-button-text:enabled:active {
  background: rgba(69, 66, 67, 0.16);
  border-color: transparent;
  color: #757575;
}

/* styles.css o styles.scss */
:root ::ng-deep .p-table {
  @apply p-datatable-sm p-datatable-gridlines; /* Si usas Tailwind con PrimeNG */
}

:root ::ng-deep .p-datatable-sm,
:root ::ng-deep .p-datatable-gridlines {
  /* Estas clases ya están definidas en PrimeNG, pero puedes agregar reglas adicionales aquí si es necesario */
}


.p-toolbar-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}